[x-cloak] {
    display: none;
}

.fade {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.fade.htmx-added {
    opacity: 0;
  }

/* iframe {
    border: none;
} */

/* Main layout padding to account for fixed header */
/* main {
    padding-top: 7rem;
} */

/* Logo responsiveness */
/* header img {
    height: 4rem;
} */
@media (min-width: 640px) {
    header img {
        height: 6rem;
    }
}

/* Navigation buttons (center top) */
.nav-button {
    position: relative;
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    

    text-transform: uppercase;
    color: #E2592A; /* red-orange text */
    background-color: #fceac9; /* light tan */
    border: 3px solid #E2592A;
    border-radius: 10px;
    clip-path: polygon(
      0% 15%, 5% 15%, 5% 0%, 95% 0%, 95% 15%, 100% 15%,
      100% 85%, 95% 85%, 95% 100%, 5% 100%, 5% 85%, 0% 85%
    );
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-button:hover {
    transform: scale(1.03);
  }
  
  .active-nav {
    background-color: #E2592A;
    color: #fceac9;
  }
  
  

/* Contact button (top right) */
/* .contact-button {
    padding: 0.5rem 0.75rem;
    border: 2px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
} */

